<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Social Media Account</h5>
          <%= bootstrap_form_for(@social_media_account, 
                            url: influencer_social_media_accounts_path(@influencer), 
                            layout: :horizontal, label_col: "col-sm-3", 
                            control_col: "col-sm-9", 
                            data: { controller: "price-format", action: "submit->price-format#submitForm" },
                            html: { autocomplete: "off" }) do |f| %>
            <%= render 'shared/error_messages', object: @social_media_account %>
            <%= render "form", f: f, social_media_account: @social_media_account %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</section>