---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"timestamp":1678612416,"environment":"test","level":"error","language":"ruby","framework":"Rails:
        7.0.4.2","server":{"host":"Roris-Mac-mini.local","root":"/Users/rorikurniadi/code/projects/seventh-sky/mediarumu/dashboard","pid":72523},"notifier":{"name":"rollbar-gem","version":"3.4.0","configured_options":{"access_token":"******","environment":"test","default_logger":"#<Proc:0x00007ff084c9f258
        /Users/rorikurniadi/.rvm/gems/ruby-3.0.3/gems/rollbar-3.4.0/lib/rollbar/plugins/rails/railtie_mixin.rb:13>","root":"/Users/rorikurniadi/code/projects/seventh-sky/mediarumu/dashboard","framework":"Rails:
        7.0.4.2","filepath":"MediarumuDashboard.rollbar"}},"body":{"trace":{"frames":[{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/bin/ruby_executable_hooks","lineno":22,"method":"<main>"},{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/bin/ruby_executable_hooks","lineno":22,"method":"eval"},{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/bin/rspec","lineno":25,"method":"<main>"},{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/bin/rspec","lineno":25,"method":"load"},{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/gems/rspec-core-3.12.0/exe/rspec","lineno":4,"method":"<top
        (required)>"},{"filename":"/Users/rorikurniadi/.rvm/gems/ruby-3.0.3/gems/rs[...]
