---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=fadiljaidi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1731113364.0'
      X-Requests-Left:
      - '1547'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"2023022811271811A05A7F94F8D315DD41","now":1677583638000},"log_pb":{"impr_id":"2023022811271811A05A7F94F8D315DD41"},"message":"","shareMeta":{"desc":"@fadiljaidi
        9.0m Followers, 43 Following, 208.0m Likes - Watch awesome short videos created
        by Fadil Jaidi","title":"Fadil Jaidi on TikTok"},"status":"success","statusCode":0,"status_code":0,"userInfo":{"stats":{"diggCount":0,"followerCount":9200000,"followingCount":43,"heart":208700000,"heartCount":208700000,"videoCount":281},"user":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=xWlFYuDCKukcHAP5e9Sbph6RgUA%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=up0HbnMP45sbW6jR8U%2FA9crZnUk%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=LO1%2BT9HzumiFcQdLAmsYBwzn6eE%3D","bioLink":{"link":"https://youtu.be/9ywpa6r6UZk","risk":0},"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":false},"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true}}}

        '
  recorded_at: Tue, 28 Feb 2023 11:27:19 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1731103520.0'
      X-Requests-Left:
      - '1546'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=S4SHvQT8HJARgYnaEzNHzQ==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1660915074000","extra":{"fatal_item_ids":[],"logid":"202302281127180B972A4C7E3E3AB6B750","now":1677583640000},"hasMore":true,"itemList":[{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=xWlFYuDCKukcHAP5e9Sbph6RgUA%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=up0HbnMP45sbW6jR8U%2FA9crZnUk%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=LO1%2BT9HzumiFcQdLAmsYBwzn6eE%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true},"authorStats":{"diggCount":1825,"followerCount":9200000,"followingCount":43,"heart":208700000,"heartCount":208700000,"videoCount":281},"contents":[{"desc":"WKWKWKWKWKWWK"}],"createTime":1676729728,"desc":"WKWKWKWKWKWWK","digged":false,"duetDisplay":0,"duetEnabled":true,"duetInfo":{"duetFromId":"0"},"forFriend":false,"id":"7201499325917039899","isAd":false,"itemCommentStatus":0,"itemMute":false,"music":{"album":"","authorName":"Fadil
        Jaidi","coverLarge":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=xWlFYuDCKukcHAP5e9Sbph6RgUA%3D","coverMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=up0HbnMP45sbW6jR8U%2FA9crZnUk%3D","coverThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=LO1%2BT9HzumiFcQdLAmsYBwzn6eE%3D","duration":19,"id":"7201499339796466459","original":true,"playUrl":"https://sf16-ies-music.tiktokcdn.com/obj/ies-music-aiso/7201499360768183066.mp3","title":"original
        sound - Fadil Jaidi"},"officalItem":false,"originalItem":false,"privateItem":false,"secret":false,"shareEnabled":true,"showNotPass":false,"stats":{"commentCount":2698,"diggCount":586700,"playCount":4900000,"shareCount":1499},"stitchDisplay":0,"stitchEnabled":true,"video":{"bitrate":2370439,"bitrateInfo":[{"Bitrate":2370439,"CodecType":"h264","GearName":"normal_720_0","PlayAddr":{"DataSize":5748316,"FileCs":"c:0-22210-e978","FileHash":"694a18ebd85421c5be7323d99ba7f3dc","Uri":"v0f025gc0000cfodqnjc77u2cu7sj30g","UrlKey":"v0f025gc0000cfodqnjc77u2cu7sj30g_h264_720p_2370439","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037c001-aiso/oEGnenqQCK8bGOebEgJwjeHy63rT4AOFDoeEgh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=4628&bt=2314&cs=0&ds=3&ft=_RwJrBNXq8Zmo2B~SH_vjoK_8AhLrus&mime_type=video_mp4&qs=0&rc=Njg3aTplZDozM2c8ZDM4PEBpajZ2eDU6ZnFnaTMzZjgzM0AwMmAtMzYvNS8xNC0zNDJfYSMtZzRgcjRnbmxgLS1kL2Nzcw%3D%3D&btag=80000&expire=1677605259&l=202302281127180B972A4C7E3E3AB6B750&ply_type=2&policy=2&signature=a38a860a65536a3db2d188d4d78f158a&tk=tt_chain_token","https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037c001-aiso/oEGnenqQCK8bGOebEgJwjeHy63rT4AOFDoeEgh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=4628&bt=2314&cs=0&ds=3&ft=_RwJrBNXq8Zmo2B~SH_vjoK_8AhLrus&mime_type=video_mp4&qs=0&rc=Njg3aTplZDozM2c8ZDM4PEBpajZ2eDU6ZnFnaTMzZjgzM0AwMmAtMzYvNS8xNC0zNDJfYSMtZzRgcjRnbmxgLS1kL2Nzcw%3D%3D&btag=80000&expire=1677605259&l=202302281127180B972A4C7E3E3AB6B750&ply_type=2&policy=2&signature=a38a860a65536a3db2d188d4d78f158a&tk=tt_chain_token"]},"QualityType":10}],"codecType":"h264","cover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe?x-expires=1677603600&x-signature=LzQSgHdDfhs5SdS%2BQrG11l6m8CI%3D","definition":"720p","downloadAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037c001-aiso/oEGnenqQCK8bGOebEgJwjeHy63rT4AOFDoeEgh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=4628&bt=2314&cs=0&ds=3&ft=_RwJrBNXq8Zmo2B~SH_vjoK_8AhLrus&mime_type=video_mp4&qs=0&rc=Njg3aTplZDozM2c8ZDM4PEBpajZ2eDU6ZnFnaTMzZjgzM0AwMmAtMzYvNS8xNC0zNDJfYSMtZzRgcjRnbmxgLS1kL2Nzcw%3D%3D&btag=80000&expire=1677605259&l=202302281127180B972A4C7E3E3AB6B750&ply_type=2&policy=2&signature=a38a860a65536a3db2d188d4d78f158a&tk=tt_chain_token","duration":19,"dynamicCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/d32278cd5e91400da5dddc70b9aa4200_1676729735?x-expires=1677603600&x-signature=SqTEm8H%2BoC0zAgGXep%2FY24HXsGo%3D","encodeUserTag":"","encodedType":"normal","format":"mp4","height":1024,"id":"7201499325917039899","originCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/ed4ff9b14cac49908c951177daf2a109_1676729734?x-expires=1677603600&x-signature=Bv9DWUjgUekVHgS3%2FiwDfXwiNQA%3D","playAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037c001-aiso/oEGnenqQCK8bGOebEgJwjeHy63rT4AOFDoeEgh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=4628&bt=2314&cs=0&ds=3&ft=_RwJrBNXq8Zmo2B~SH_vjoK_8AhLrus&mime_type=video_mp4&qs=0&rc=Njg3aTplZDozM2c8ZDM4PEBpajZ2eDU6ZnFnaTMzZjgzM0AwMmAtMzYvNS8xNC0zNDJfYSMtZzRgcjRnbmxgLS1kL2Nzcw%3D%3D&btag=80000&expire=1677605259&l=202302281127180B972A4C7E3E3AB6B750&ply_type=2&policy=2&signature=a38a860a65536a3db2d188d4d78f158a&tk=tt_chain_token","ratio":"720p","reflowCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe?x-expires=1677603600&x-signature=LzQSgHdDfhs5SdS%2BQrG11l6m8CI%3D","shareCover":["","https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/ed4ff9b14cac49908c951177daf2a109_1676729734~tplv-tiktok-play.jpeg?x-expires=1678186800&x-signature=6h3%2FYGeRUsXIT9tflwoYae%2FxVzk%3D","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/ed4ff9b14cac49908c951177daf2a109_1676729734~tplv-tiktokx-share-play.jpeg?x-expires=1678186800&x-signature=EfZhby2ZMXe%2BeG2B7N00wsTW%2Bb4%3D"],"size":5748316,"videoQuality":"normal","volumeInfo":{"Loudness":-25.8,"Peak":0.93325},"width":576,"zoomCover":{"240":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe~tplv-f5insbecw7-1:240:240.jpeg?x-expires=1677603600&x-signature=hga0S4VYagYMqPXeIl2PhXgy3hg%3D","480":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe~tplv-f5insbecw7-1:480:480.jpeg?x-expires=1677603600&x-signature=Hdm1JTwI0AqH0kJwNsmLrIRxcLM%3D","720":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe~tplv-f5insbecw7-1:720:720.jpeg?x-expires=1677603600&x-signature=BjRcsbsBpZd9lTq2RLYpEAiKkog%3D","960":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oMGnjnqIC68bGMebEgJhjeHvu3rT4AkGDQeEBe~tplv-f5insbecw7-1:960:960.jpeg?x-expires=1677603600&x-signature=K1dFkPO0XBgsUuBH5acxbIishVs%3D"}},"vl1":false},{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=xWlFYuDCKukcHAP5e9Sbph6RgUA%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=up0HbnMP45sbW6jR8U%2FA9crZnUk%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-e[...]
- request:
    method: get
    uri: https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=LO1%2BT9HzumiFcQdLAmsYBwzn6eE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Imagex-Fmt:
      - jpeg2jpeg
      Last-Modified:
      - Sat, 04 Feb 2023 04:34:49 GMT
      Nw-Session-Id:
      - 20230204043447AAC87EB5DB973B85FE67cjsw912df
      Nw-Session-Trace:
      - 2023-02-04T04:34:49.36283131Z 480
      X-Bdcdn-Cache-Status:
      - TCP_HIT
      X-Crop-Loc:
      - "(0,0)-(3024,3024)"
      X-Length:
      - '6293'
      X-Response-Date:
      - Sat, 04 Feb 2023 04:34:49 GMT
      X-Tt-Logid:
      - 20230204043447AAC87EB5DB973B85FE67
      X-Tt-Trace-Host:
      - 01f85f7a3a9d2f5fd7260fcccfee593f1ba3bfe825b63bc705b090eee9fec3d20b80f8edff5772e948cd5ebe2e7f34b4fd4af43766ccb8891ddffd377b5b21e5f94abae9893222bbf99574516a05690834b7c47410461c67059a91d94d5818c0896386af7992e060b276e3c44fe3b90b2f3f0da12a2c19b108381b419897ea2152
      X-Check-Cacheable:
      - 'YES'
      X-Akamai-Request-Id:
      - 3d064828.59677e24
      Akamai-Mon-Iucid-Del:
      - '971652'
      X-Tt-Trace-Tag:
      - id=16;cdn-cache=miss;type=static
      X-Parent-Response-Time:
      - 56,23.59.80.165
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZW[...]
- request:
    method: get
    uri: https://api.tikapi.io/public/video?id=7171787903637458202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1731058843.0'
      X-Requests-Left:
      - '1545'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=TgXa8g5rwxvKlPhYrPPe8Q==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"extra":{"fatal_item_ids":[],"logid":"202302281127237BDAAFDC047DA7B6A0BF","now":1677583644000},"itemInfo":{"itemStruct":{"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=xWlFYuDCKukcHAP5e9Sbph6RgUA%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=up0HbnMP45sbW6jR8U%2FA9crZnUk%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1677754800&x-signature=LO1%2BT9HzumiFcQdLAmsYBwzn6eE%3D[...]
[...]
- request:
    method: get
    uri: https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/48c0eb3531694743936404800fe9a257_1669812009?x-expires=1677603600&x-signature=/Rq4rvoVcbT9XfpPyWg7YP5L7cE=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Imagex-Fmt:
      - jpeg2jpeg
      Last-Modified:
      - Tue, 28 Feb 2023 08:56:36 GMT
      Nw-Session-Id:
    [...]
