---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/video?id=https://www.tiktok.com/@capcapungofficial/video/7225149569410059547
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
      X-Account-Key:
      - kHCcc6bMjl5RGTLLgOgzDnCWN0RZYKQL9KbgGDT7er67VCeG
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fields":{"id":"A valid video ID or short share video link is required."},"message":"Missing
        fields.","status":"error"}

        '
  recorded_at: Sat, 29 Apr 2023 10:21:09 GMT
recorded_with: VCR 6.1.0
