---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=fadiljaidi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1996420657.0'
      X-Requests-Left:
      - '1879'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"20230212164614A0AFA88AA502A095062D","now":1676220375000},"log_pb":{"impr_id":"20230212164614A0AFA88AA502A095062D"},"message":"","status":"success","statusCode":0,"status_code":0,"userInfo":{"stats":{"diggCount":0,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"user":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=RLvW4%2BpZ5460y2hK3oANtFaDnMo%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=vTS1e%2F0U8zcfWGb5G6tkk6eo4mA%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=%2BLHF4khWZTVarMWhdnO0BSEz4VA%3D","bioLink":{"link":"https://youtu.be/9ywpa6r6UZk","risk":0},"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":false},"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true}}}

        '
  recorded_at: Sun, 12 Feb 2023 16:45:32 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1996414309.0'
      X-Requests-Left:
      - '1878'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=Mi/qYnRhxnjjnbynWi8oBw==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1660915074000","extra":{"fatal_item_ids":[],"logid":"20230212164616688F9AA4FCD98C964766","now":1676220378000},"hasMore":true,"itemList":[{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=RLvW4%2BpZ5460y2hK3oANtFaDnMo%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=vTS1e%2F0U8zcfWGb5G6tkk6eo4mA%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=%2BLHF4khWZTVarMWhdnO0BSEz4VA%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true},"authorStats":{"diggCount":1817,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"createTime":1675847808,"desc":"Wkwkwwkwkwkw","digged":false,"duetDisplay":0,"duetEnabled":true,"duetInfo":{"duetFromId":"0"},"forFriend":false,"id":"7197711504534261018","isAd":false,"itemCommentStatus":0,"itemMute":false,"music":{"album":"","authorName":"Fadil
        Jaidi","coverLarge":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=RLvW4%2BpZ5460y2hK3oANtFaDnMo%3D","coverMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=vTS1e%2F0U8zcfWGb5G6tkk6eo4mA%3D","coverThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=%2BLHF4khWZTVarMWhdnO0BSEz4VA%3D","duration":20,"id":"7197711525371480858","original":true,"playUrl":"https://sf16-ies-music.tiktokcdn.com/obj/ies-music-aiso/7197711535513406235.mp3","title":"original
        sound - Fadil Jaidi"},"officalItem":false,"originalItem":false,"privateItem":false,"secret":false,"shareEnabled":true,"showNotPass":false,"stats":{"commentCount":9165,"diggCount":823800,"playCount":5500000,"shareCount":2871},"stitchDisplay":0,"stitchEnabled":true,"video":{"bitrate":1501712,"bitrateInfo":[{"Bitrate":1501712,"CodecType":"h264","GearName":"normal_720_0","PlayAddr":{"DataSize":3835749,"FileCs":"c:0-23662-6ba9","FileHash":"0991205a93b25df690bfba4389d6f7cb","Uri":"v0f025gc0000cfhmgnrc77u05ltd0ke0","UrlKey":"v0f025gc0000cfhmgnrc77u05ltd0ke0_h264_720p_1501712","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMMD8Zmo0488e64jVHqL-pWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676241998&l=20230212164616688F9AA4FCD98C964766&ply_type=2&policy=2&signature=3be7ca04ab7f253d6f6b3446b505fd39&tk=tt_chain_token","https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMMD8Zmo0488e64jVHqL-pWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676241998&l=20230212164616688F9AA4FCD98C964766&ply_type=2&policy=2&signature=3be7ca04ab7f253d6f6b3446b505fd39&tk=tt_chain_token"]},"QualityType":10}],"codecType":"h264","cover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg?x-expires=1676239200&x-signature=Tnc6uUBiywH9%2B%2BRsXaM1DaACDys%3D","definition":"720p","downloadAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMMD8Zmo0488e64jVHqL-pWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676241998&l=20230212164616688F9AA4FCD98C964766&ply_type=2&policy=2&signature=3be7ca04ab7f253d6f6b3446b505fd39&tk=tt_chain_token","duration":20,"dynamicCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/8f677360542c48cd94d2225d1b19b4e2_1675847813?x-expires=1676239200&x-signature=ZThSTBwhyY0MdgwsEFoBUjWxWxs%3D","encodeUserTag":"","encodedType":"normal","format":"mp4","height":1024,"id":"7197711504534261018","originCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811?x-expires=1676239200&x-signature=ZGwaR5nASISXMHdtM%2Boh%2Fj18FW4%3D","playAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMMD8Zmo0488e64jVHqL-pWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676241998&l=20230212164616688F9AA4FCD98C964766&ply_type=2&policy=2&signature=3be7ca04ab7f253d6f6b3446b505fd39&tk=tt_chain_token","ratio":"720p","reflowCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg?x-expires=1676239200&x-signature=Tnc6uUBiywH9%2B%2BRsXaM1DaACDys%3D","shareCover":["","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811~tplv-tiktok-play.jpeg?x-expires=1676822400&x-signature=FZpeRxjm6NsRXVUt5l75qeTYrXo%3D","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811~tplv-tiktokx-share-play.jpeg?x-expires=1676822400&x-signature=jqmzojjYjl7ruWuOX4PyWWsIsN8%3D"],"size":3835749,"videoQuality":"normal","volumeInfo":{"Loudness":-31.2,"Peak":0.13964},"width":576,"zoomCover":{"240":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:240:240.jpeg?x-expires=1676239200&x-signature=rZtClH%2FscJ%2Bdyy7tTIyv8AL7Ir0%3D","480":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:480:480.jpeg?x-expires=1676239200&x-signature=C8biyVtsrmuRSvhQ9TTqmPD%2BTOo%3D","720":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:720:720.jpeg?x-expires=1676239200&x-signature=Fx%2Fu3Ys%2B1E9k8DdzhVb4Z%2BRJKjM%3D","960":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:960:960.jpeg?x-expires=1676239200&x-signature=6Yj97h0mRcmCLypBRrDx22JoXms%3D"}},"vl1":false},{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=RLvW4%2BpZ5460y2hK3oANtFaDnMo%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=vTS1e%2F0U8zcfWGb5G6tkk6eo4mA%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=%2BLHF4khWZTVarMWhdnO0BSEz4VA%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true},"authorStats":{"diggCount":1817,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"7197010058599727130","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"ka5ihsayangmu"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"19169271","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"bucin"}],"createTime":1675771066,"desc":"Memang
        rezeki nya para sobat goib, papa pilih kasih hadiah ke sobat goib. Jadi mari
        kita kasih voucher belanja senilai 400ribu buat 2 orang pemenang buat nunjukin
        #ka5ihsayangmu  dengan belanja di promo #Buc[...]
- request:
    method: get
    uri: https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676390400&x-signature=%2BLHF4khWZTVarMWhdnO0BSEz4VA=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Imagex-Fmt:
      - jpeg2jpeg
      Last-Modified:
      - Tue, 02 Aug 2022 15:34:52 GMT
      Nw-Session-Id:
      - 202208021534510102450401051C3CA14Epzxwc12df
      Nw-Session-Trace:
      - 2022-08-02T15:34:52.279504776Z 441
      X-Bdcdn-Cache-Status:
      - TCP_MISS
      X-Crop-Loc:
      - "(0,0)-(3024,3024)"
      X-Length:
      - '6293'
      X-Response-Date:
      - Tue, 02 Aug 2022 15:34:52 GMT
      X-Tt-Logid:
      - 202208021534510102450401051C3CA14E
      X-Tt-Trace-Host:
      - 015e9ba7b82364311ae4e570dafdca185461e04c98d95e81a8a12ec1ee47f383e0c68e84efab8e2019e52173e0ea2d68d97bb9f07e441efaac8c782af7c0970e53e136e04bfcd16589c257fc2f9bd130bd34f5872db2169c760a22d164269cb8bb8fe9f07da44bf088a9b5040eabbfe88b
      Akamai-Mon-Iucid-Del:
      - '971652'
      X-Tt-Trace-Tag:
      - id=16;cdn-cache=hit;type=static
      X-Check-Cacheable:
      - 'YES'
      X-Akamai-Request-Id:
      - cadb2e13
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZn[...]
