---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAAxKGNQEjakF-ZNd8u2pPy2OOE88G8-SLwj4q-M4v8ETU4CDlUYMCm4w54AsXWftKL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iAV4YtBkar7ZlQtrZGmU7E1GZ1qsqm4mp7svLLCH6k1DRutD
      X-Account-Key:
      - kHCcc6bMjl5RGTLLgOgzDnCWN0RZYKQL9KbgGDT7er67VCeG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1927089638.0'
      X-Requests-Left:
      - '1993'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=N7baNoEHpyvyK6Yqj7v6RA==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1687150832000","extra":{"fatal_item_ids":[],"logid":"2024102714480880E485F3B399BBD77E13","now":1730040490000},"hasMore":true,"itemList":[{"AIGCDescription":"","author":{"avatarLarger":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e521fc43f88848a93543314e85d30535~c5_1080x1080.jpeg?lk3s=a5d48078&nonce=32081&refresh_token=8d41259fe4ad023524f6213643514183&x-expires=1730210400&x-signature=yj2XDG1VDQAz3cJ3arj1yoySGOo%3D&shp=a5d48078&shcp=81f88b70","avatarMedium":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e521fc43f88848a93543314e85d30535~c5_720x720.jpeg?lk3s=a5d48078&nonce=7934&refresh_token=1741a6c8152563f8f907a4ba6bc7bd8d&x-expires=1730210400&x-signature=wtmgZFazeHeJTxllMQkfgvX8lvc%3D&shp=a5d48078&shcp=81f88b70","avatarThumb":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/e521fc43f88848a93543314e85d30535~c5_100x100.jpeg?lk3s=a5d48078&nonce=77343&refresh_token=ae13575669f1c83dbffd3963ce295133&x-expires=1730210400&x-signature=vrx4f2MJ29MC4UQi7eGKcBvGdmQ%3D&shp=a5d48078&shcp=81f88b70","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6886427311047869442","isADVirtual":false,"isEmbedBanned":false,"nickname":"stasyashop","openFavorite":true,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAxKGNQEjakF-ZNd8u2pPy2OOE88G8-SLwj4q-M4v8ETU4CDlUYMCm4w54AsXWftKL","secret":false,"signature":"cek
        tiktokshop aku dan klik lambang keranjangnya","stitchSetting":0,"uniqueId":"stasyashopp","verified":false},"backendSourceEventTracking":"","challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"CapCut
        is a new, easy-to-use video editing tool designed for mobile platforms. CapCut
        provides users with a wide range of video editing functions, filters, audio
        &amp; visual effects, video templates, while keeping it free of charge and
        ads-free. Everyone can be a creator by using CapCut.  \n\nStart creating your
        cool videos today: \nhttps://capcut.onelink.me/XKqI/228cad85","id":"1663935709411330","profileLarger":"https://p16-sg.tiktokcdn.com/obj/tiktok-obj/1d1c20b6de3fc0b4da37670699cbcb07?shp=81f88b70&shcp=-","profileMedium":"https://p16-sg.tiktokcdn.com/obj/tiktok-obj/1d1c20b6de3fc0b4da37670699cbcb07?shp=81f88b70&shcp=-","profileThumb":"https://p16-sg.tiktokcdn.com/obj/tiktok-obj/1d1c20b6de3fc0b4da37670699cbcb07?shp=81f88b70&shcp=-","title":"capcut"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"7414912505463783430","profileLarger":"","profileMedium":"","profileThumb":"","title":"pengerjaangordyn"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"47794423","profileLarger":"","profileMedium":"","profileThumb":"","title":"artwindow"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1649139584636934","profileLarger":"","profileMedium":"","profileThumb":"","title":"fypppppppppppp[...]
