---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/user/comment/list?cursor=0&media_id=7172051470618037530
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iAV4YtBkar7ZlQtrZGmU7E1GZ1qsqm4mp7svLLCH6k1DRutD
      X-Account-Key:
      - kHCcc6bMjl5RGTLLgOgzDnCWN0RZYKQL9KbgGDT7er67VCeG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1949978750.0'
      X-Requests-Left:
      - '232'
    body:
      encoding: ASCII-8BIT
      string: '{"alias_comment_deleted":false,"comments":[{"author_pin":false,"aweme_id":"7172051470618037530","cid":"7173215357107667739","collect_stat":0,"comment_language":"id","comment_post_item_ids":null,"create_time":1670144361,"digg_count":6,"forbid_reply_with_video":false,"image_list":null,"is_author_digged":true,"is_comment_translatable":true,"label_list":[{"text":"Liked
        by creator","type":20}],"no_show":false,"reply_comment":null,"reply_comment_total":1,"reply_id":"0","reply_to_reply_id":"0","share_info":{"acl":{"code":0,"extra":"{}"},"desc":"petshop
        Timbul toabo\u2019s comment: smoga bisa kesna juga ksih makan anabul\ud83e\udd70","title":"selama
        umroh kemarin, ga lupa nyari\u00b2 anabul buat di wawancara.. pertanyaannya
        seputar:  1. berapa lama tinggal disini?  2. suka duka nya apa aja? #gadenkcandabgt
        ","url":"https://t.tiktok.com/i18n/share/video/7172051470618037530/?_d=edamlggh1i947l&comment_author_id=7098518066862097409&mid=7172051520580569883&preview_pb=0&region=ID&share_comment_id=7173215357107667739&share_item_id=7172051470618037530&sharer_language=en&source=h5_t&u_code=e6e20ec931mk1k"},"status":1,"stick_position":0,"text":"smoga
        bisa kesna juga ksih makan anabul\ud83e\udd70","text_extra":[],"trans_btn_style":1,"user":{"account_labels":null,"ad_cover_url":null,"advance_feature_item_order":null,"advanced_feature_info":null,"avatar_thumb":{"uri":"tos-useast2a-avt-0068-giso/00a45186f08449b3a86884268ff35a64","url_list":["https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/00a45186f08449b3a86884268ff35a64~c5_100x100.jpg?lk3s=30310797&nonce=5790&refresh_token=0e56efb633e290f8fb92688cdd3ddc6e&x-expires=1721012400&x-signature=fm4ifDaXDokdO8LpSAItLcmkK14%3D&shp=30310797&shcp=-","https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/00a45186f08449b3a86884268ff35a64~c5_100x100.jpeg?lk3s=30310797&nonce=47905&refresh_token=32f53136ad9aa9cfbb61caf0602b257b&x-expires=1721012400&x-signature=YRgrOARCH1cSJN3P638bx%2BQ%2FJpk%3D&shp=30310797&shcp=-"],"url_prefix":null},"bold_fields":null,"can_message_follow_status_list":null,"can_set_geofencing":null,"cha_list":null,"cover_url":null,"custom_verify":"","enterprise_verify_reason":"","events":null,"followers_detail":null,"geofencing":null,"homepage_bottom_toast":null,"item_list":null,"mutual_relation_avatars":null,"need_points":null,"nickname":"petshop
        Timbul toabo","platform_sync_info":null,"relative_users":null,"search_highlight":null,"sec_uid":"MS4wLjABAAAA1TbmZvJXUc8ZE3a0J_T0cuZHpW_NIcvXS-JmjmKieRr0tJPGUs2DNHMkH4L5YAUV","shield_edit_field_info":null,"type_label":null,"uid":"7098518066862097409","unique_id":"petshoptimbultoabo","user_profile_guide":null,"user_tags":null,"white_cover_url":null},"user_buried":false,"user_digged":0},{"author_pin":false,"aweme_id":"7172051470618037530","cid":"7172874475678614298","collect_stat":0,"comment_language":"ms","comment_post_item_ids":null,"create_time":1670075181,"digg_count":3,"forbid_reply_with_video":false,"image_list":null,"is_author_digged":true,"is_comment_translatable":true,"label_list":[{"text":"Liked
        by creator","type":20}],"no_show":false,"reply_comment":null,"reply_comment_total":1,"reply_id":"0","reply_to_reply_id":"0","share_info":{"acl":{"code":0,"extra":"{[...]
