---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=capcapungofficial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1786129861.0'
      X-Requests-Left:
      - '591'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"20230319025004A4B078AAF0FA3094ED8E","now":1679194204000},"log_pb":{"impr_id":"20230319025004A4B078AAF0FA3094ED8E"},"message":"","shareMeta":{"desc":"@capcapungofficial
        383.0k Followers, 1 Following, 3.0m Likes - Watch awesome short videos created
        by Capcapung","title":"Capcapung on TikTok"},"status":"success","statusCode":0,"status_code":0,"userInfo":{"stats":{"diggCount":0,"followerCount":383700,"followingCount":1,"heart":3100000,"heartCount":3100000,"videoCount":155},"user":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=MPFoYopFtgnG76RbZ1aXJ3NVUbM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=p9uXT9bZu400k9cLreUjZYmJoeU%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=bvTkOBJTImzW5z5nKXSEmaAwpM4%3D","bioLink":{"link":"https://youtube.com/@Capcapung","risk":0},"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"6870393269827732481","isADVirtual":false,"isEmbedBanned":false,"nickname":"Capcapung","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":true,"showQuestionTab":true},"relation":0,"secUid":"MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE","secret":false,"signature":"\ud83c\udf3eYoutube
        Capcapung\ud83c\udf31","stitchSetting":0,"ttSeller":false,"uniqueId":"capcapungofficial","verified":false}}}

        '
  recorded_at: Sun, 19 Mar 2023 02:50:05 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1786125117.0'
      X-Requests-Left:
      - '590'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=W35GxX51Qd6MTQNnoFihqA==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1663488819000","extra":{"fatal_item_ids":[],"logid":"202303190250059E1FBDB522A5440B4CD6","now":1679194207000},"hasMore":true,"itemList":[{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=MPFoYopFtgnG76RbZ1aXJ3NVUbM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=p9uXT9bZu400k9cLreUjZYmJoeU%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=bvTkOBJTImzW5z5nKXSEmaAwpM4%3D","commentSetting":0,"downloadSetting":3,"duetSetting":0,"ftc":false,"id":"6870393269827732481","isADVirtual":false,"isEmbedBanned":false,"nickname":"Capcapung","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE","secret":false,"signature":"\ud83c\udf3eYoutube
        Capcapung\ud83c\udf31","stitchSetting":0,"ttSeller":false,"uniqueId":"capcapungofficial","verified":false},"authorStats":{"diggCount":1361,"followerCount":383700,"followingCount":1,"heart":3100000,"heartCount":3100000,"videoCount":155},"challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1622084645991425","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"modalusaha"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1599423314267138","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"usahasendiri"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1205300","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"channa"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1671014375970817","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"ikanchanna"}],"contents":[{"desc":"Modal
        300 ribu bisa jual ikan channa 40 jutaan. "},{"desc":"#modalusaha #usahasendiri
        #channa #ikanchanna ","textExtra":[{"awemeId":"","end":11,"hashtagId":"1622084645991425","hashtagName":"modalusaha","isCommerce":false,"secUid":"","start":0,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":25,"hashtagId":"1599423314267138","hashtagName":"usahasendiri","isCommerce":false,"secUid":"","start":12,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":33,"hashtagId":"1205300","hashtagName":"channa","isCommerce":false,"secUid":"","start":26,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":45,"hashtagId":"1671014375970817","hashtagName":"ikanchanna","isCommerce":false,"secUid":"","start":34,"subType":0,"type":1,"userId":"","userUniqueId":""}]}],"createTime":1679128157,"desc":"Modal
        300 ribu bisa jual ikan channa 40 jutaan.  #modalusaha #usahasendiri #channa
        #ikanchanna ","digged":false,"duetDisplay":0,"duetEnabled":false,"duetInfo":{"duetFromId":"0"},"forFriend":false,"id":"7211800483772501274","isAd":false,"itemCommentStatus":0,"itemMute":false,"music":{"album":"","authorName":"Capcapung","coverLarge":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=MPFoYopFtgnG76RbZ1aXJ3NVUbM%3D","coverMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=p9uXT9bZu400k9cLreUjZYmJoeU%3D","coverThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=bvTkOBJTImzW5z5nKXSEmaAwpM4%3D","duration":60,"id":"7211800511929322267","original":true,"playUrl":"https://v77.tiktokcdn.com/9f5601f31be79d2c0721b9076b3747c3/6416ccfa/video/tos/useast2a/tos-useast2a-v-27dcd7-aiso/b366aea20137461a9d246a04aad530f1/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&ft=d2A~l-Inz7TjO.wfiyq8Z&mime_type=audio_mpeg&qs=6&rc=aGczNTg4OTk3OmU5ZTc2Z0Bpam80Nzg6Zmk5ZzMzZjU8M0BhL2E0NDFjNjIxYTBhXy5fYSNtaC5fcjQwcTRgLS1kMWNzcw%3D%3D&l=202303190250059E1FBDB522A5440B4CD6&btag=80000&cc=13&download=true","title":"suara
        asli - Capcapung"},"officalItem":false,"originalItem":false,"privateItem":false,"secret":false,"shareEnabled":true,"showNotPass":false,"stats":{"commentCount":0,"diggCount":186,"playCount":2729,"shareCount":2},"stitchDisplay":0,"stitchEnabled":false,"textExtra":[{"awemeId":"","end":60,"hashtagId":"1622084645991425","hashtagName":"modalusaha","isCommerce":false,"secUid":"","start":49,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":74,"hashtagId":"1599423314267138","hashtagName":"usahasendiri","isCommerce":false,"secUid":"","start":61,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":82,"hashtagId":"1205300","hashtagName":"channa","isCommerce":false,"secUid":"","start":75,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":94,"hashtagId":"1671014375970817","hashtagName":"ikanchanna","isCommerce":false,"secUid":"","start":83,"subType":0,"type":1,"userId":"","userUniqueId":""}],"video":{"bitrate":1734935,"bitrateInfo":[{"Bitrate":1734935,"CodecType":"h264","GearName":"normal_720_0","PlayAddr":{"DataSize":13012236,"FileCs":"c:0-66183-79e9","FileHash":"8d0b3ef02fb71a0cb6f893fffce5a4b6","Uri":"v0f025gc0000cgana33c77uc2bl57n2g","UrlKey":"v0f025gc0000cgana33c77uc2bl57n2g_h264_720p_1734935","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/ogzuahMQqUdCGfCB3n2NMpwoITMFAKoEVyIrAh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=3388&bt=1694&cs=0&ds=3&ft=-Csk_mmjPD12N0eKpG-UxHGvmYKt3wv25Z3Ap&mime_type=video_mp4&qs=0&rc=OjY5OjNkaDM3NTY6OTtoO0BpanE4ZWY6ZjZxajMzZjgzM0BhMi9jYDUyXzYxM19gXjMxYSMvNGkvcjQwXl5gLS1kL2Nzcw%3D%3D&btag=80000&expire=1679215867&l=202303190250059E1FBDB522A5440B4CD6&ply_type=2&policy=2&signature=8d0d0d6fe85c902cb3dfc133b79746cf&tk=tt_chain_token","https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/ogzuahMQqUdCGfCB3n2NMpwoITMFAKoEVyIrAh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=3388&bt=1694&cs=0&ds=3&ft=-Csk_mmjPD12N0eKpG-UxHGvmYKt3wv25Z3Ap&mime_type=video_mp4&qs=0&rc=OjY5OjNkaDM3NTY6OTtoO0BpanE4ZWY6ZjZxajMzZjgzM0BhMi9jYDUyXzYxM19gXjMxYSMvNGkvcjQwXl5gLS1kL2Nzcw%3D%3D&btag=80000&expire=1679215867&l=202303190250059E1FBDB522A5440B4CD6&ply_type=2&policy=2&signature=8d0d0d6fe85c902cb3dfc133b79746cf&tk=tt_chain_token"]},"QualityType":10}],"codecType":"h264","cover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177?x-expires=1679212800&x-signature=YTM0sZBl4OZA315WQQU85VJquqQ%3D","definition":"720p","downloadAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/ogzuahMQqUdCGfCB3n2NMpwoITMFAKoEVyIrAh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=3388&bt=1694&cs=0&ds=3&ft=-Csk_mmjPD12N0eKpG-UxHGvmYKt3wv25Z3Ap&mime_type=video_mp4&qs=0&rc=OjY5OjNkaDM3NTY6OTtoO0BpanE4ZWY6ZjZxajMzZjgzM0BhMi9jYDUyXzYxM19gXjMxYSMvNGkvcjQwXl5gLS1kL2Nzcw%3D%3D&btag=80000&expire=1679215867&l=202303190250059E1FBDB522A5440B4CD6&ply_type=2&policy=2&signature=8d0d0d6fe85c902cb3dfc133b79746cf&tk=tt_chain_token","duration":60,"dynamicCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/2fab4c9b54234c7f855b34d19878bacd_1679128180?x-expires=1679212800&x-signature=ugchu0HgcpTPaJQpaR9W4ubS0t8%3D","encodeUserTag":"","encodedType":"normal","format":"mp4","height":1024,"id":"7211800483772501274","originCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/7e8f892070ef4bcebd7fdf9674142d59_1679128178?x-expires=1679212800&x-signature=%2FA1ZKYLWCbsmBhqesc4tgxvP1Jw%3D","playAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/ogzuahMQqUdCGfCB3n2NMpwoITMFAKoEVyIrAh/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=3388&bt=1694&cs=0&ds=3&ft=-Csk_mmjPD12N0eKpG-UxHGvmYKt3wv25Z3Ap&mime_type=video_mp4&qs=0&rc=OjY5OjNkaDM3NTY6OTtoO0BpanE4ZWY6ZjZxajMzZjgzM0BhMi9jYDUyXzYxM19gXjMxYSMvNGkvcjQwXl5gLS1kL2Nzcw%3D%3D&btag=80000&expire=1679215867&l=202303190250059E1FBDB522A5440B4CD6&ply_type=2&policy=2&signature=8d0d0d6fe85c902cb3dfc133b79746cf&tk=tt_chain_token","ratio":"720p","reflowCover":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177~tplv-photomode-video-cover:480:480.jpeg?x-expires=1679212800&x-signature=vgrXHaBqGhb%2F%2BuJHzdSeNZdFbbA%3D","shareCover":["","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/7e8f892070ef4bcebd7fdf9674142d59_1679128178~tplv-tiktok-play.jpeg?x-expires=1679796000&x-signature=QiUcEGqOH0HshOdKtl46q8INqog%3D","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/7e8f892070ef4bcebd7fdf9674142d59_1679128178~tplv-tiktokx-share-play.jpeg?x-expires=1679796000&x-signature=AW3zweAwJaWubBG1uYv1%2Bbfhqbk%3D"],"size":13012236,"subtitleInfos":[{"Format":"webvtt","LanguageCodeName":"ind-ID","LanguageID":"23","Size":1682,"Source":"ASR","Url":"https://v16-webapp.tiktok.com/cbb789e65bae19493b0d300b276c6aa7/6416ccfb/video/tos/useast2a/tos-useast2a-pv-0037-aiso/828c54fe232c42eeb71ec7ffebef96d0/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=19946&bt=9973&cs=0&ds=4&ft=-ElcommjPD12N0eKpG-UxHGvmYKt3wv25Z3Ap&mime_type=video_mp4&qs=13&rc=anE4ZWY6ZjZxajMzZjgzM0BpanE4ZWY6ZjZxajMzZjgzM0AvNGkvcjQwXl5gLS1kL2NzYSMvNGkvcjQwXl5gLS1kL2Nzcw%3D%3D&l=202303190250059E1FBDB522A5440B4CD6&btag=40000","UrlExpire":1679215867,"Version":"1","VideoSubtitleID":-1844415405}],"videoQuality":"normal","volumeInfo":{"Loudness":-14.1,"Peak":1},"width":576,"zoomCover":{"240":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177~tplv-f5insbecw7-1:240:240.jpeg?x-expires=1679212800&x-signature=UdYHORRRUJIqKWboeGu3phiyBJA%3D","480":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177~tplv-f5insbecw7-1:480:480.jpeg?x-expires=1679212800&x-signature=XDGiWPQZ1TXqzt55iVmk3mrF9O4%3D","720":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177~tplv-f5insbecw7-1:720:720.jpeg?x-expires=1679212800&x-signature=9QQ5wj9U50V9MkcAB4BoVJI6aF0%3D","960":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/e92e4360961248209b9d1e7f89cbacc9_1679128177~tplv-f5insbecw7-1:960:960.jpeg?x-expires=1679212800&x-signature=q4JzTsXLj97R8lLj7ldECnkggtU%3D"}},"vl1":false},{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=MPFoYopFtgnG76RbZ1aXJ3NVUbM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1679364000&x-signature=p9uXT9bZu400k9cLreUjZYmJoeU%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/awem[...]
