---
http_interactions:
- request:
    method: post
    uri: https://api.rollbar.com/api/1/item/
    body:
      encoding: UTF-8
      string: '{"data":{"timestamp":1678367026,"environment":"test","level":"error","language":"ruby","framework":"Rails:
        7.0.4.2","server":{"host":"Rafeequls-MacBook-Air.local","root":"/Users/rafeequlawan/Projects/mediarumu-dashboard","pid":12474},"notifier":{"name":"rollbar-gem","version":"3.4.0","configured_options":{"access_token":"******","environment":"test","default_logger":"#<Proc:0x0000000117c2ff70
        /Users/rafeequlawan/.asdf/installs/ruby/3.0.3/lib/ruby/gems/3.0.0/gems/rollbar-3.4.0/lib/rollbar/plugins/rails/railtie_mixin.rb:13>","root":"/Users/rafeequlawan/Projects/mediarumu-dashboard","framework":"Rails:
        7.0.4.2","filepath":"MediarumuDashboard.rollbar"}},"body":{"trace":{"frames":[{"filename":"/Users/rafeequlawan/.asdf/installs/ruby/3.0.3/bin/rspec","lineno":25,"method":"<main>"},{"filename":"/Users/rafeequlawan/.asdf/installs/ruby/3.0.3/bin/rspec","lineno":25,"method":"load"},{"filename":"/Users/rafeequlawan/.asdf/installs/ruby/3.0.3/lib/ruby/gems/3.0.0/gems/rspec-core-3.12.0/exe/rspec","lineno":4,"method":"<top
        (required)>"},{"filename":"/Users/rafeequlawan/.asdf/installs/ruby/3.0.3/lib/ruby/gems/3.0.0/gems/rspec-core-3.12.0/lib/rspec/core/runner.rb","lineno":45,"method":"invoke"},{"filename":"/Users/rafeequlawan/.asdf/installs/ruby/3.0.3/lib/ruby/gems/3.0.0[...]
