<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</id>
      <th scope="col">Media</th>
      <th scope="col">Caption</th>
      <th scope="col">Posted at</th>
      <th scope="col">Comments</th>
      <th scope="col">Likes</th>
      <th scope="col">Share</th>
      <th scope="col">Views</th>
      <th scope="col">Saves</th>
      <th scope="col">Reach</th>
      <th scope="col">ER</th>
      <th>Proof</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render social_media_publications %>
  </tbody>
</table>