<div class="pagetitle">
  <h1>Bulk Import Social Media Publications for <%= @campaign.name %></h1>
</div>

<%= render 'shared/breadcrumbs' %>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <%= render 'bulk_publications_table' %>
  </div>
</div>