<div class="card kpi-card">
  <div class="card-body pt-2 pb-2">
    <span class="fw-bold"><%= name %> <%= icon_for("check-circle-fill", 'color: green;') if meet %></span>
    <div class="">
      <div class="kpi-value"><%= value %></div>
      <hr/>
      <div class="kpi-value"><%= media_plan_value %></div>
    </div>
  </div>
</div>