<!-- Default Table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"># KOLs</th>
      <th scope="col">Views</th>
      <th scope="col">Reach</th>
      <th scope="col">ER</th>
      <th scope="col">ER Branding Post</th>
      <th scope="col">Budget</th>
    </tr>
  </thead>
  <tbody>
    <%= render media_plans %>
  </tbody>
</table>
<!-- End Default Table Example -->