---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=capcapungofficial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1608486919.0'
      X-Requests-Left:
      - '1123'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"2023033013260868159856B896C212641D","now":1680182768000},"log_pb":{"impr_id":"2023033013260868159856B896C212641D"},"message":"","shareMeta":{"desc":"@capcapungofficial
        385.0k Followers, 1 Following, 3.0m Likes - Watch awesome short videos created
        by Capcapung","title":"Capcapung on TikTok"},"status":"success","statusCode":0,"status_code":0,"userInfo":{"stats":{"diggCount":0,"followerCount":385500,"followingCount":1,"heart":3200000,"heartCount":3200000,"videoCount":157},"user":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=XOh0UEWfkMVPE34cOdBl6Y0wayM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=BAtDPSDeJuuK5W0A%2BBDzPd%2FTUCw%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=rVZslal1TbiYVjGaQQ%2FasiBGLkc%3D","bioLink":{"link":"https://youtube.com/@Capcapung","risk":0},"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"6870393269827732481","isADVirtual":false,"isEmbedBanned":false,"nickname":"Capcapung","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":true,"showQuestionTab":true},"relation":0,"secUid":"MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE","secret":false,"signature":"\u2b50\u2b50\u2b50\u2b50\u2b50\nYoutube
        Capcapung","stitchSetting":0,"ttSeller":false,"uniqueId":"capcapungofficial","verified":false}}}

        '
  recorded_at: Thu, 30 Mar 2023 13:26:08 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1608482364.0'
      X-Requests-Left:
      - '1122'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=HVOFLDYXjDR2BGuhsWogXA==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1664620492000","extra":{"fatal_item_ids":[],"logid":"2023033013260972322B175746A60F46A9","now":1680182770000},"hasMore":true,"itemList":[{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=XOh0UEWfkMVPE34cOdBl6Y0wayM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=BAtDPSDeJuuK5W0A%2BBDzPd%2FTUCw%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=rVZslal1TbiYVjGaQQ%2FasiBGLkc%3D","commentSetting":0,"downloadSetting":3,"duetSetting":0,"ftc":false,"id":"6870393269827732481","isADVirtual":false,"isEmbedBanned":false,"nickname":"Capcapung","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAA-BfOXaDxh5VfzztcFLhec3kW3-9ToOGiw6Yjl7e1kc8L_VTlCyIBo-GIBeRHvYGE","secret":false,"signature":"\u2b50\u2b50\u2b50\u2b50\u2b50\nYoutube
        Capcapung","stitchSetting":0,"ttSeller":false,"uniqueId":"capcapungofficial","verified":false},"authorStats":{"diggCount":1388,"followerCount":385500,"followingCount":1,"heart":3200000,"heartCount":3200000,"videoCount":157},"challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1662363739303938","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"ternaksapi"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1673706561634306","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"sapiterbesar"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1659945301652482","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"sapijumbo"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"84649683","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"peternakan"}],"contents":[{"desc":"Lahan
        peternakan terbesar di dunia"},{"desc":""},{"desc":"#ternaksapi #sapiterbesar
        #sapijumbo #peternakan ","textExtra":[{"awemeId":"","end":11,"hashtagId":"1662363739303938","hashtagName":"ternaksapi","isCommerce":false,"secUid":"","start":0,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":25,"hashtagId":"1673706561634306","hashtagName":"sapiterbesar","isCommerce":false,"secUid":"","start":12,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":36,"hashtagId":"1659945301652482","hashtagName":"sapijumbo","isCommerce":false,"secUid":"","start":26,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":48,"hashtagId":"84649683","hashtagName":"peternakan","isCommerce":false,"secUid":"","start":37,"subType":0,"type":1,"userId":"","userUniqueId":""}]}],"createTime":1680163427,"desc":"Lahan
        peternakan terbesar di dunia #ternaksapi #sapiterbesar #sapijumbo #peternakan
        ","digged":false,"duetDisplay":0,"duetEnabled":false,"duetInfo":{"duetFromId":"0"},"forFriend":false,"id":"7216246889723792667","isAd":false,"itemCommentStatus":0,"itemMute":false,"music":{"album":"","authorName":"Capcapung","coverLarge":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=XOh0UEWfkMVPE34cOdBl6Y0wayM%3D","coverMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=BAtDPSDeJuuK5W0A%2BBDzPd%2FTUCw%3D","coverThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=rVZslal1TbiYVjGaQQ%2FasiBGLkc%3D","duration":90,"id":"7216246936981015322","original":true,"playUrl":"https://v16m.tiktokcdn-us.com/ae00a97469f2e816412876ab0f3d2dc3/6425e28d/video/tos/useast5/tos-useast5-v-27dcd7c799-tx/1e68b4f560e94d75b7fd78dc867f74ad/?a=1233&ch=0&cr=0&dr=0&er=2&cd=0%7C0%7C0%7C0&br=250&bt=125&ft=t5PLr-Inz7TgfyVfiyq8Z&mime_type=audio_mpeg&qs=6&rc=Njc0NDU2NDVlaTZoNzU2OUBpanQ5bzk6Zm9rZzMzZjU8M0A1XjUwYzA0NS8xX19jXjM1YSNrNDRpcjRvYjFgLS1kMWNzcw%3D%3D&l=2023033013260972322B175746A60F46A9&download=true","title":"suara
        asli - Capcapung"},"officalItem":false,"originalItem":false,"privateItem":false,"secret":false,"shareEnabled":true,"showNotPass":false,"stats":{"commentCount":0,"diggCount":69,"playCount":839,"shareCount":2},"stitchDisplay":0,"stitchEnabled":false,"textExtra":[{"awemeId":"","end":46,"hashtagId":"1662363739303938","hashtagName":"ternaksapi","isCommerce":false,"secUid":"","start":35,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":60,"hashtagId":"1673706561634306","hashtagName":"sapiterbesar","isCommerce":false,"secUid":"","start":47,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":71,"hashtagId":"1659945301652482","hashtagName":"sapijumbo","isCommerce":false,"secUid":"","start":61,"subType":0,"type":1,"userId":"","userUniqueId":""},{"awemeId":"","end":83,"hashtagId":"84649683","hashtagName":"peternakan","isCommerce":false,"secUid":"","start":72,"subType":0,"type":1,"userId":"","userUniqueId":""}],"video":{"bitrate":1345898,"bitrateInfo":[{"Bitrate":1345898,"CodecType":"h264","GearName":"normal_720_0","PlayAddr":{"DataSize":15141527,"FileCs":"c:0-98337-65f3","FileHash":"30856609966a2da5194c58e60e56e60b","Uri":"v0f025gc0000cgik363c77u252eilvc0","UrlKey":"v0f025gc0000cgik363c77u252eilvc0_h264_720p_1345898","UrlList":["https://v16-webapp-prime.us.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/oERGQPDn4obDrIIghkUKCewoTc8inVAJSYBe4Q/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2628&bt=1314&cs=0&ds=3&ft=_rKBMBNXq8ZmoBcvCc_vjAohsAhLrus&mime_type=video_mp4&qs=0&rc=Njk1ZWg8ZTo2ZjVmaGUzNUBpM3lsNTU6ZjluajMzZjgzM0BhLWI0MDEzNTMxNjQxNTY0YSNgaWIycjQwMGZgLS1kL2Nzcw%3D%3D&expire=1680204459&l=2023033013260972322B175746A60F46A9&ply_type=2&policy=2&signature=f944d017e30de833eefd66b2350ed629&tk=tt_chain_token","https://v19-webapp-prime.us.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/oERGQPDn4obDrIIghkUKCewoTc8inVAJSYBe4Q/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2628&bt=1314&cs=0&ds=3&ft=_rKBMBNXq8ZmoBcvCc_vjAohsAhLrus&mime_type=video_mp4&qs=0&rc=Njk1ZWg8ZTo2ZjVmaGUzNUBpM3lsNTU6ZjluajMzZjgzM0BhLWI0MDEzNTMxNjQxNTY0YSNgaWIycjQwMGZgLS1kL2Nzcw%3D%3D&expire=1680204459&l=2023033013260972322B175746A60F46A9&ply_type=2&policy=2&signature=f944d017e30de833eefd66b2350ed629&tk=tt_chain_token"]},"QualityType":10}],"codecType":"h264","cover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458?x-expires=1680202800&x-signature=q%2FJVD2LaeS3hmBCYkpidATpHsf0%3D","definition":"720p","downloadAddr":"https://v16-webapp-prime.us.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/oERGQPDn4obDrIIghkUKCewoTc8inVAJSYBe4Q/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2628&bt=1314&cs=0&ds=3&ft=_rKBMBNXq8ZmoBcvCc_vjAohsAhLrus&mime_type=video_mp4&qs=0&rc=Njk1ZWg8ZTo2ZjVmaGUzNUBpM3lsNTU6ZjluajMzZjgzM0BhLWI0MDEzNTMxNjQxNTY0YSNgaWIycjQwMGZgLS1kL2Nzcw%3D%3D&expire=1680204459&l=2023033013260972322B175746A60F46A9&ply_type=2&policy=2&signature=f944d017e30de833eefd66b2350ed629&tk=tt_chain_token","duration":90,"dynamicCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/326e1e3e9fa24b9ea4978eb8ebae0338_1680163457?x-expires=1680202800&x-signature=%2BmFuAImrBDQjsGmhXcyZHJIH0SE%3D","encodeUserTag":"","encodedType":"normal","format":"mp4","height":1024,"id":"7216246889723792667","originCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/28bc7235f0ee450dbe2dea9b258d182e_1680163457?x-expires=1680202800&x-signature=pRHtERIuU3fUYV1WaNAC0iPMvsw%3D","playAddr":"https://v16-webapp-prime.us.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/oERGQPDn4obDrIIghkUKCewoTc8inVAJSYBe4Q/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2628&bt=1314&cs=0&ds=3&ft=_rKBMBNXq8ZmoBcvCc_vjAohsAhLrus&mime_type=video_mp4&qs=0&rc=Njk1ZWg8ZTo2ZjVmaGUzNUBpM3lsNTU6ZjluajMzZjgzM0BhLWI0MDEzNTMxNjQxNTY0YSNgaWIycjQwMGZgLS1kL2Nzcw%3D%3D&expire=1680204459&l=2023033013260972322B175746A60F46A9&ply_type=2&policy=2&signature=f944d017e30de833eefd66b2350ed629&tk=tt_chain_token","ratio":"720p","reflowCover":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458~tplv-photomode-video-cover:480:480.jpeg?x-expires=1680202800&x-signature=0AfmUyLcIWjrXXAJdDLENNPyrZw%3D","shareCover":["","https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/28bc7235f0ee450dbe2dea9b258d182e_1680163457~tplv-tiktok-play.jpeg?x-expires=1680786000&x-signature=d1gk%2BUYkS6giyzdf2tzR88wM7Js%3D","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/28bc7235f0ee450dbe2dea9b258d182e_1680163457~tplv-tiktokx-share-play.jpeg?x-expires=1680786000&x-signature=3X8dC7CEkwBEmYLqhG0WNP4S5N4%3D"],"size":15141527,"subtitleInfos":[{"Format":"webvtt","LanguageCodeName":"ind-ID","LanguageID":"23","Size":2668,"Source":"ASR","Url":"https://v16m-webapp.tiktokcdn-us.com/ff6e36420e701e885be450cbf3c4b2af/6425e2ab/video/tos/useast2a/tos-useast2a-pv-0037-aiso/e6d6f92276a546808b34201f627aa3aa/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=20382&bt=10191&cs=0&ds=4&ft=_rbBEBNXq8ZmoBcvCc_vjAohsAhLrus&mime_type=video_mp4&qs=13&rc=M3lsNTU6ZjluajMzZjgzM0BpM3lsNTU6ZjluajMzZjgzM0BgaWIycjQwMGZgLS1kL2NzYSNgaWIycjQwMGZgLS1kL2Nzcw%3D%3D&l=2023033013260972322B175746A60F46A9","UrlExpire":1680204459,"Version":"1","VideoSubtitleID":1149366416}],"videoQuality":"normal","volumeInfo":{"Loudness":-23.7,"Peak":1},"width":576,"zoomCover":{"240":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458~tplv-f5insbecw7-1:240:240.jpeg?x-expires=1680202800&x-signature=ncobhahdqqxp5L%2FOPVnQbm2816Q%3D","480":"https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458~tplv-f5insbecw7-1:480:480.jpeg?x-expires=1680202800&x-signature=ZLFZ6kOEu3dWmBUje%2FRlHLFqfWs%3D","720":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458~tplv-f5insbecw7-1:720:720.jpeg?x-expires=1680202800&x-signature=X92ELrpr4unZtvdwVIPVyRcuiQw%3D","960":"https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/16c11f9246ae4ceead09c0cba72e8ded_1680163458~tplv-f5insbecw7-1:960:960.jpeg?x-expires=1680202800&x-signature=6Lp3iGJ%2BOqJQ%2FRXLX%2Bk0bqy4MLk%3D"}},"vl1":false},{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=XOh0UEWfkMVPE34cOdBl6Y0wayM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=BAtDPSDeJuuK5W0A%2BBDzPd%2FTUCw%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/[...]
- request:
    method: get
    uri: https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=rVZslal1TbiYVjGaQQ/asiBGLkc=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Imagex-Fmt:
      - jpeg2jpeg
      Last-Modified:
      - Fri, 03 Mar 2023 08:12:08 GMT
      Nw-Session-Id:
      - 202303030812070B0C50593962632C2BA2q64hw12ff
      Nw-Session-Trace:
      - 2023-03-03T08:12:08.469790317Z 101
      X-Bdcdn-Cache-Status:
      - TCP_MISS
      X-Crop-Loc:
      - "(0,0)-(734,734)"
      X-Length:
      - '4143'
      X-Response-Date:
      - Fri, 03 Mar 2023 08:12:08 GMT
      X-Tt-Logid:
      - 202303030812070B0C50593962632C2BA2
      X-Tt-Trace-Host:
      - 01fd52e8de06ded27e686ca1a9a440804edf3456c39139a1a58510bcea1191e186fae9b89dad86c5c491883ce50d794bed855d5d7449acb55f65a135f0554c8f50253e068b8af871d43438c87b6544e7944d4973cf54477576854c543701e418a10797ccac307bc10f4fcfaf6597e6717ccd6708a6b0aae0189590765f7c1d544e
      X-Parent-Response-Time:
      - 1,23.206.250.79
      - 31,23.48.148.188
      X-Check-Cacheable:
      - 'YES'
      X-Akamai-Request-Id:
      - 25941621.21688b41
      Akamai-Mon-Iucid-Del:
      - '971652'
      X-Tt-Trace-Tag:
      - id=16;cdn-cache=miss;type=static
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RF[...]
- request:
    method: get
    uri: https://api.tikapi.io/public/video?id=7214412866936442139
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1608435057.0'
      X-Requests-Left:
      - '1121'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=LuVdPzAnnZwjZhEgYaPF1w==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"extra":{"fatal_item_ids":[],"logid":"20230330132614A8FD6CC63CD8D4102F0C","now":1680182774000},"itemInfo":{"itemStruct":{"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=XOh0UEWfkMVPE34cOdBl6Y0wayM%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51060.jpeg?x-expires=1680354000&x-signature=BAtDPSDeJuuK5W0A%2BBDzPd%2FTUCw%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tos-alisg-avt-0068/5b1e01b5829661714518096b97b51[...]
[...]
- request:
    method: get
    uri: https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/04e36058ae8043609c620fbe271f6c37_1679736424?x-expires=1680202800&x-signature=4qY46CciQv83h3udfieEzdpCQjM=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Imagex-Fmt:
      - jpeg2jpeg
      Last-Modified:
      - Thu, 30 Mar 2023 13:24:29 GMT
      Nw-Session-Id:
      - 2023033013242782EA920DD058F351BDC9mt7c621ff
      Nw-Session-Trace:
      - 2023-03-30T13:24:29.01462047Z 59
      X-Bdcdn-Cache-Status:
      - TCP_MISS
      X-Length:
      - '82986'
      X-Response-Date:
      - Thu, 30 Mar 2023 13:24:29 GMT
      X-Tt-Logid:
      - 2023033013242782EA920DD058F351BDC9
      X-Tt-Trace-Host:
      - 01b161101e4474906fb5b09f0b81541023c03ac45772cfa358adc83c441bf223cbecf89e7e611e1152d23cf6fc361b04882de7ae09b6c941eb7df7033aec6616df73048f2d9c88e4d7fed58d902da60962ea9fad49fc62358c6b0cd2c9c60d626ac0fa06e3e127d39a5b1f7014c3d71487
      X-Origin-Response-Time:
      - 83,23.55.62.20
      X-Parent-Response-Time:
      - 241,23.33.32.109
      - 4,23.206.250.86
      X-Check-Cacheable:
      - 'YES'
      X-Akamai-Request-Id:
      - 3f651042.21e020da
      Akamai-Mon-Iucid-Del:
      - '971653'
      X-Tt-Trace-Tag:
      - id=16;cdn-cache=miss;type=static
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAgAAAQABAAD//gARTGF2YzU4LjEzNC4xMDAA/9sAQwAIBAQEBAQFBQUFBQUGBgYGBgYGBgYGBgYGBwcHCAgIBwcHBgYHBwgICAgJCQkICAgICQk[...]
[...]
