---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=fadiljaidi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1949033909.0'
      X-Requests-Left:
      - '1958'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"2023021809094330187445D320A333B9E9","now":1676711383000},"log_pb":{"impr_id":"2023021809094330187445D320A333B9E9"},"message":"","shareMeta":{"desc":"@fadiljaidi
        9.0m Followers, 43 Following, 207.0m Likes - Watch awesome short videos created
        by Fadil Jaidi","title":"Fadil Jaidi on TikTok"},"status":"success","statusCode":0,"status_code":0,"userInfo":{"stats":{"diggCount":0,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"user":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=IOxyZuIiHJ1sHHzRriwDHe4M3A0%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=4Qp5lb2ScQBbOSuMtqTOGvjCrRo%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=%2FeUh%2F5bFnRBNRYxfELTeRE4rpLg%3D","bioLink":{"link":"https://youtu.be/9ywpa6r6UZk","risk":0},"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":false},"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true}}}

        '
  recorded_at: Sat, 18 Feb 2023 09:09:43 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1949027495.0'
      X-Requests-Left:
      - '1957'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=HfkgoiG58vgOV6EeBvXNOQ==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1660915074000","extra":{"fatal_item_ids":[],"logid":"2023021809094390CFFA73633FC5B46CFD","now":1676711385000},"hasMore":true,"itemList":[{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=IOxyZuIiHJ1sHHzRriwDHe4M3A0%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=4Qp5lb2ScQBbOSuMtqTOGvjCrRo%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=%2FeUh%2F5bFnRBNRYxfELTeRE4rpLg%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true},"authorStats":{"diggCount":1822,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"createTime":1675847808,"desc":"Wkwkwwkwkwkw","digged":false,"duetDisplay":0,"duetEnabled":true,"duetInfo":{"duetFromId":"0"},"forFriend":false,"id":"7197711504534261018","isAd":false,"itemCommentStatus":0,"itemMute":false,"music":{"album":"","authorName":"Fadil
        Jaidi","coverLarge":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=IOxyZuIiHJ1sHHzRriwDHe4M3A0%3D","coverMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=4Qp5lb2ScQBbOSuMtqTOGvjCrRo%3D","coverThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=%2FeUh%2F5bFnRBNRYxfELTeRE4rpLg%3D","duration":20,"id":"7197711525371480858","original":true,"playUrl":"https://sf16-ies-music.tiktokcdn.com/obj/ies-music-aiso/7197711535513406235.mp3","title":"original
        sound - Fadil Jaidi"},"officalItem":false,"originalItem":false,"privateItem":false,"secret":false,"shareEnabled":true,"showNotPass":false,"stats":{"commentCount":9196,"diggCount":825900,"playCount":5500000,"shareCount":2900},"stitchDisplay":0,"stitchEnabled":true,"video":{"bitrate":1501712,"bitrateInfo":[{"Bitrate":1501712,"CodecType":"h264","GearName":"normal_720_0","PlayAddr":{"DataSize":3835749,"FileCs":"c:0-23662-6ba9","FileHash":"0991205a93b25df690bfba4389d6f7cb","Uri":"v0f025gc0000cfhmgnrc77u05ltd0ke0","UrlKey":"v0f025gc0000cfhmgnrc77u05ltd0ke0_h264_720p_1501712","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMvt8Zmo0NUCa64jVFuRZpWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676733005&l=2023021809094390CFFA73633FC5B46CFD&ply_type=2&policy=2&signature=0673c072a49f5708ac4ae7ac9c7724e2&tk=tt_chain_token","https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMvt8Zmo0NUCa64jVFuRZpWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676733005&l=2023021809094390CFFA73633FC5B46CFD&ply_type=2&policy=2&signature=0673c072a49f5708ac4ae7ac9c7724e2&tk=tt_chain_token"]},"QualityType":10}],"codecType":"h264","cover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg?x-expires=1676732400&x-signature=Es2JmlORcEXvvHRLkjnz6FPP2ag%3D","definition":"720p","downloadAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMvt8Zmo0NUCa64jVFuRZpWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676733005&l=2023021809094390CFFA73633FC5B46CFD&ply_type=2&policy=2&signature=0673c072a49f5708ac4ae7ac9c7724e2&tk=tt_chain_token","duration":20,"dynamicCover":"https://p77-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/8f677360542c48cd94d2225d1b19b4e2_1675847813?x-expires=1676732400&x-signature=aoBc25%2BdgycIrpHt6PsKG4IDC1o%3D","encodeUserTag":"","encodedType":"normal","format":"mp4","height":1024,"id":"7197711504534261018","originCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811?x-expires=1676732400&x-signature=Yhrhi3D6U3%2Fqy1S8JgHR3nmUhSk%3D","playAddr":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0037-aiso/o0nQ8c7KUILrBaXhhxbolQzAfvtQAAIDHUYjqT/?a=1988&ch=0&cr=0&dr=0&lr=tiktok&cd=0%7C0%7C1%7C0&cv=1&br=2932&bt=1466&cs=0&ds=3&ft=4fUEKMvt8Zmo0NUCa64jVFuRZpWrKsdm&mime_type=video_mp4&qs=0&rc=NDwzZjpkZWQzNjRpMzs5OkBpM25nbzM6ZnFwaTMzZjgzM0A2XmBhM2MzNTAxNS0vMzNgYSNiLXEycjRvZGVgLS1kL2Nzcw%3D%3D&btag=80000&expire=1676733005&l=2023021809094390CFFA73633FC5B46CFD&ply_type=2&policy=2&signature=0673c072a49f5708ac4ae7ac9c7724e2&tk=tt_chain_token","ratio":"720p","reflowCover":"https://p16-sign-va.tiktokcdn.com/obj/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg?x-expires=1676732400&x-signature=Es2JmlORcEXvvHRLkjnz6FPP2ag%3D","shareCover":["","https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811~tplv-tiktok-play.jpeg?x-expires=1677315600&x-signature=78svvR9R4gYOO0HVs%2F8u4eekGno%3D","https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/9a1b4f900642440391c270471d9ccc9a_1675847811~tplv-tiktokx-share-play.jpeg?x-expires=1677315600&x-signature=1fCmaQShiCq7AhLcdYWrtCoa3e0%3D"],"size":3835749,"videoQuality":"normal","volumeInfo":{"Loudness":-31.2,"Peak":0.13964},"width":576,"zoomCover":{"240":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:240:240.jpeg?x-expires=1676732400&x-signature=6GjIiOfsgX8jYNraHJqif1TuLZs%3D","480":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:480:480.jpeg?x-expires=1676732400&x-signature=hnSmJavkaZNk1dk78w%2FeKPbzcVU%3D","720":"https://p77-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:720:720.jpeg?x-expires=1676732400&x-signature=s2%2B0KBZnUEi5VlRsQSXZ%2FELL8rE%3D","960":"https://p16-sign-va.tiktokcdn.com/tos-useast2a-p-0037-aiso/oE7vGWbneIAYrgHEW0e4vxotGEPAQDC0eBsfQg~tplv-f5insbecw7-1:960:960.jpeg?x-expires=1676732400&x-signature=Hgcm9eOVs2mDWMBsZA7eKDWPUTw%3D"}},"vl1":false},{"BAInfo":"","adAuthorization":false,"adLabelVersion":0,"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=IOxyZuIiHJ1sHHzRriwDHe4M3A0%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=4Qp5lb2ScQBbOSuMtqTOGvjCrRo%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=%2FeUh%2F5bFnRBNRYxfELTeRE4rpLg%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"6558656645008998401","isADVirtual":false,"isEmbedBanned":false,"nickname":"Fadil
        Jaidi","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAr8BhiSmkWNQH0v5SVFCgQnoqUd5_RMsesTVppIiN-LGo6_-VyQxnNx8-U6vBbxHo","secret":false,"signature":"Hai
        guys\nAku akan post video sama papa diTikTok ya TIDAK di instagramku\nmaacih\u2764\ufe0f","stitchSetting":0,"ttSeller":false,"uniqueId":"fadiljaidi","verified":true},"authorStats":{"diggCount":1822,"followerCount":9200000,"followingCount":43,"heart":207400000,"heartCount":207400000,"videoCount":282},"challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"7197010058599727130","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"ka5ihsayangmu"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"19169271","isCommerce":false,"profileLarger":"","profileMedium":"","profileThumb":"","stats":{"videoCount":0,"viewCount":0},"title":"bucin"}],"createTime":1675771066,"desc":"Memang
        rezeki nya para sobat goib, papa pilih kasih hadiah ke sobat goib. Jadi mari
        kita kasih voucher belanja senilai 400ribu buat 2 orang pemenang buat nunjukin
        #ka5ihsayangmu  dengan belanja di promo #Buc[...]
- request:
    method: get
    uri: https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=/eUh/5bFnRBNRYxfELTeRE4rpLg=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sat, 08 May 2021 10:44:41 GMT
      Nw-Session-Id:
      - 202105081044400101151490580F0463E9-45a57fb6-e9bf-4486-bc1d-af945cadbb3912df
      Nw-Session-Trace:
      - 2021-05-08T10:44:41.243274519Z 381
      X-Bdcdn-Cache-Status:
      - TCP_MISS
      X-Crop-Loc:
      - "(0,0)-(3024,3024)"
      X-Length:
      - '6293'
      X-Response-Date:
      - Sat, 08 May 2021 10:44:41 GMT
      X-Tt-Logid:
      - 202105081044400101151490580F0463E9
      X-Tt-Trace-Host:
      - '019b2e77c36ac88e19c0feb451bd8430e541f75c89deda6742c36c79321d42f3f38f6f32d3a9129bad8a490a0a16e8be49cc2b62e28d2e9cdd90fa2d0a684cdff2ac05b3a129ee4029c562075fb2e0339d921b9429877ca623dfb6008cb9d0b0103b3659c850764684f3871a332dd5e664'
      X-Parent-Response-Time:
      - 17,23.192.47.150
      Akamai-Mon-Iucid-Del:
      - '971652'
      X-Tt-Trace-Tag:
      - id=16;cdn-cache=hit;type=static
      X-Check-Cacheable:
      - 'YES'
      X-Akamai-Request-Id:
      - 3e459b00
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCABkAGQDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZn[...]
- request:
    method: get
    uri: https://api.tikapi.io/public/video?id=7171787903637458202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iKiophlx7vNlYaCiNsrgCsxAYLx0xH213sSXY2D4oc7w70Zq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1948985713.0'
      X-Requests-Left:
      - '1956'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=HfkgoiG58vgOV6EeBvXNOQ==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"extra":{"fatal_item_ids":[],"logid":"20230218090947562AE24C35BB3DB345B1","now":1676711388000},"itemInfo":{"itemStruct":{"author":{"avatarLarger":"https://p16-sign-sg.tiktokcdn.com/aweme/1080x1080/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=IOxyZuIiHJ1sHHzRriwDHe4M3A0%3D","avatarMedium":"https://p16-sign-sg.tiktokcdn.com/aweme/720x720/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=4Qp5lb2ScQBbOSuMtqTOGvjCrRo%3D","avatarThumb":"https://p16-sign-sg.tiktokcdn.com/aweme/100x100/tiktok-obj/1665034882076673.jpeg?x-expires=1676883600&x-signature=%2FeUh%2F5bFnRBNRYxfELTeRE4rpLg%3D[...]
[...]
