<div class="alert alert-info">
      <p>Belum ada Media Plan yang di pilih untuk campaign ini. Anda masih bisa membuat alternative media plan.</p>
    </div>
    
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class ="card-header d-flex justify-content-between">
            <h5 class="card-title m-0 p-0">Media Plans</h5>
            <div>
              <%= link_to "New Media Plan", new_media_plan_path(campaign_id: @campaign.id), class: "btn btn-primary btn-sm" %>
            </div>
          </div>
          <div class="card-body">
            <%= render 'media_plans/media_plans_table', media_plans: @media_plans %>
          </div>
        </div>

      </div>
    </div>