<tr>
  <th scope="row"><%= organization.id %></th>
  <td><%= link_to organization.name, edit_organization_path(organization) %></td>
  <td><%= organization.description %></td>
  <td><%= organization.created_at %></td>
</tr>