<h1>Edit Competitor Review</h1>
<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit Competitor Review</h5>
            <%= render 'shared/error_messages', object: @competitor_review %>
            <%= render "form", competitor_review: @competitor_review %>
        </div>
      </div>

    </div>

  </div>
</section>

