---
http_interactions:
- request:
    method: get
    uri: https://api.hikerapi.com/a2/user?username=test_ig
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Access-Key:
      - P0SBEUnlcdFLlBfqxAU3XgFyt9VfFmEV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hiker-Info:
      - '{"user_id":64506660788,"reqs":2}'
      X-Hiker-Reqid:
      - f2bca7d7-8b2a-482e-848d-8002809842b9
    body:
      encoding: ASCII-8BIT
      string: '{"graphql":{"user":{"id":"283073061","biography":"","full_name":"Wyatt
        Gillespie","edge_followed_by":{"count":0},"edge_follow":{"count":0},"profile_pic_url":"https://instagram.fesb1-2.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ad=z-m&_nc_ht=instagram.fesb1-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=mFcoq7HG9roAX8Pxgfw&edm=AClPCLABAAAA&ccb=7-5&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-5&oh=00_AfCEoesEBRsfA8IDq6y3y2NzJNjMvgO3_VHCIEMEVInEhQ&oe=65C4390F&_nc_sid=eec150","profile_pic_url_hd":"https://instagram.fesb1-2.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ad=z-m&_nc_ht=instagram.fesb1-2.fna.fbcdn.net&_nc_cat=1&_nc_ohc=mFcoq7HG9roAX8Pxgfw&edm=AClPCLABAAAA&ccb=7-5&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-5&oh=00_AfCEoesEBRsfA8IDq6y3y2NzJNjMvgO3_VHCIEMEVInEhQ&oe=65C4390F&_nc_sid=eec150","edge_owner_to_timeline_media":{"count":0,"edges":[]}}}}'
  recorded_at: Sat, 03 Feb 2024 16:11:47 GMT
- request:
    method: get
    uri: https://api.hikerapi.com/v2/user/medias?page=&user_id=283073061
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Access-Key:
      - P0SBEUnlcdFLlBfqxAU3XgFyt9VfFmEV
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Hiker-Error:
      - NotFoundError
      X-Hiker-Reqid:
      - 49f802c7-e9ae-4894-b7ba-e26853d64975
    body:
      encoding: ASCII-8BIT
      string: '{"detail":"Entries not found","exc_type":"NotFoundError"}'
  recorded_at: Sat, 03 Feb 2024 16:11:48 GMT
recorded_with: VCR 6.1.0
