---
http_interactions:
- request:
    method: get
    uri: https://api.tikapi.io/public/check?username=airinstanyawati
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iAV4YtBkar7ZlQtrZGmU7E1GZ1qsqm4mp7svLLCH6k1DRutD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1916745894.0'
      X-Requests-Left:
      - '1816'
    body:
      encoding: ASCII-8BIT
      string: '{"extra":{"fatal_item_ids":[],"logid":"20240430035924CDA2B51A7203950AFFD5","now":1714449564000},"log_pb":{"impr_id":"20240430035924CDA2B51A7203950AFFD5"},"message":"","shareMeta":{"desc":"@airinstanyawati
        6875 Followers, 601 Following, 746.3k Likes - Watch awesome short videos created
        by Airin I. Stanyawati H.","title":"Airin I. Stanyawati H. on TikTok"},"status":"success","statusCode":0,"status_code":0,"status_msg":"","userInfo":{"stats":{"diggCount":0,"followerCount":6875,"followingCount":601,"friendCount":46,"heart":746300,"heartCount":746300,"videoCount":175},"user":{"avatarLarger":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=TUxh8qrnrfYGWSReDndyDlRUXSk%3D","avatarMedium":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_720x720.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=hRpHobaV%2FsvGr04Z%2FMW7jatgVqA%3D","avatarThumb":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=XBx%2BTP6hPTx7K6Ne9TxlV8Lvn50%3D","canExpPlaylist":true,"commentSetting":0,"commerceUserInfo":{"commerceUser":false},"downloadSetting":0,"duetSetting":0,"followingVisibility":1,"ftc":false,"id":"125998753953730560","isADVirtual":false,"isEmbedBanned":false,"isUnderAge18":false,"nickNameModifyTime":1657510831,"nickname":"Airin
        I. Stanyawati H.","openFavorite":false,"privateAccount":false,"profileEmbedPermission":1,"profileTab":{"showPlayListTab":true},"relation":0,"secUid":"MS4wLjABAAAAabcXwAGcrK2XU-aM67wzgjVvsZam7KqT6RPUTc4clNHvk44ikruWUL5yzZG9zSz5","secret":false,"signature":"Ngga
        yakin ini TikTok Ibunya apa anaknya\ud83d\ude02\n\nIG: @airinstanyawati","stitchSetting":0,"ttSeller":false,"uniqueId":"airinstanyawati","verified":false}}}

        '
  recorded_at: Tue, 30 Apr 2024 03:59:24 GMT
- request:
    method: get
    uri: https://api.tikapi.io/public/posts?secUid=MS4wLjABAAAAabcXwAGcrK2XU-aM67wzgjVvsZam7KqT6RPUTc4clNHvk44ikruWUL5yzZG9zSz5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;
      X-Api-Key:
      - iAV4YtBkar7ZlQtrZGmU7E1GZ1qsqm4mp7svLLCH6k1DRutD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Bandwidth-Left:
      - '1916587292.0'
      X-Requests-Left:
      - '1815'
    body:
      encoding: ASCII-8BIT
      string: '{"$other":{"videoLinkHeaders":{"Cookie":"tt_chain_token=ge4328F7DwL0kVSy5G+JsA==;","Origin":"https://www.tiktok.com","Referer":"https://www.tiktok.com/"}},"cursor":"1692499359000","extra":{"fatal_item_ids":[],"logid":"20240430035924A7549F5E9BD06A263F73","now":1714449566000},"hasMore":true,"itemList":[{"author":{"avatarLarger":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=TUxh8qrnrfYGWSReDndyDlRUXSk%3D","avatarMedium":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_720x720.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=hRpHobaV%2FsvGr04Z%2FMW7jatgVqA%3D","avatarThumb":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=XBx%2BTP6hPTx7K6Ne9TxlV8Lvn50%3D","commentSetting":0,"downloadSetting":0,"duetSetting":0,"ftc":false,"id":"125998753953730560","isADVirtual":false,"isEmbedBanned":false,"nickname":"Airin
        I. Stanyawati H.","openFavorite":false,"privateAccount":false,"relation":0,"secUid":"MS4wLjABAAAAabcXwAGcrK2XU-aM67wzgjVvsZam7KqT6RPUTc4clNHvk44ikruWUL5yzZG9zSz5","secret":false,"signature":"Ngga
        yakin ini TikTok Ibunya apa anaknya\ud83d\ude02\n\nIG: @airinstanyawati","stitchSetting":0,"uniqueId":"airinstanyawati","verified":false},"challenges":[{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1666674250268674","profileLarger":"","profileMedium":"","profileThumb":"","title":"bedahplastik"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"77688953","profileLarger":"","profileMedium":"","profileThumb":"","title":"oplas"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"1664400028733441","profileLarger":"","profileMedium":"","profileThumb":"","title":"bibirsumbing"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"4114238","profileLarger":"","profileMedium":"","profileThumb":"","title":"cbl"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"7051194427338915867","profileLarger":"","profileMedium":"","profileThumb":"","title":"celahbibir"},{"coverLarger":"","coverMedium":"","coverThumb":"","desc":"","id":"8289397","profileLarger":"","profileMedium":"","profileThumb":"","title":"cleftlip"}],"collected":false,"contents":[{"desc":"Replying
        to @rizkanperdana di Indonesia banyak bgt Dokter Spesialis Bedah Plastik yg
        kompeten dan gak kalah sama yg di luar negeri kak\u263a\ufe0f #bedahplastik
        #oplas #bibirsumbing #cbl #celahbibir #cleftlip ","textExtra":[{"awemeId":"","end":26,"hashtagName":"","isCommerce":false,"secUid":"MS4wLjABAAAARF_8nA3g0A8VC5xhSr_tbxQ959uhQgPVrpWPcNg8aPIqhqrfZAl46M9XBRbqWMJ2","start":12,"subType":2,"type":0,"userId":"6845928434243372033","userUniqueId":"rizkanperdana"},{"awemeId":"","end":150,"hashtagName":"bedahplastik","isCommerce":false,"start":137,"subType":0,"type":1},{"awemeId":"","end":157,"hashtagName":"oplas","isCommerce":false,"start":151,"subType":0,"type":1},{"awemeId":"","end":171,"hashtagName":"bibirsumbing","isCommerce":false,"start":158,"subType":0,"type":1},{"awemeId":"","end":176,"hashtagName":"cbl","isCommerce":false,"start":172,"subType":0,"type":1},{"awemeId":"","end":188,"hashtagName":"celahbibir","isCommerce":false,"start":177,"subType":0,"type":1},{"awemeId":"","end":198,"hashtagName":"cleftlip","isCommerce":false,"start":189,"subType":0,"type":1}]}],"createTime":1680273431,"desc":"Replying
        to @rizkanperdana di Indonesia banyak bgt Dokter Spesialis Bedah Plastik yg
        kompeten dan gak kalah sama yg di luar negeri kak\u263a\ufe0f #bedahplastik
        #oplas #bibirsumbing #cbl #celahbibir #cleftlip ","digged":false,"diversificationId":10014,"duetDisplay":0,"forFriend":false,"id":"7216719422570941702","isPinnedItem":true,"itemCommentStatus":0,"item_control":{},"music":{"authorName":"Airin
        I. Stanyawati H.","coverLarge":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_1080x1080.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=TUxh8qrnrfYGWSReDndyDlRUXSk%3D","coverMedium":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_720x720.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=hRpHobaV%2FsvGr04Z%2FMW7jatgVqA%3D","coverThumb":"https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/38cfd2b05efeb80f52593faca6d004b4~c5_100x100.jpeg?lk3s=a5d48078&x-expires=1714618800&x-signature=XBx%2BTP6hPTx7K6Ne9TxlV8Lvn50%3D","duration":45,"id":"7216719421598862086","original":false,"playUrl":"https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-v-27dcd7/okIKmfy33ABTgAzyUtjcWkLoh38s3EOMjYgBEB/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=0&dr=0&er=0&lr=default&cd=0%7C0%7C0%7C0&br=250&bt=125&ft=GNDpcInz7ThVp1irXq8Zmo&mime_type=audio_mpeg&qs=6&rc=M2c5M2RlZDZoZ2Y1ZmQ1NEBpam01dWg6ZjlpajMzNzU8M0AtLjQuLy9eXy4xYzJgYzQ2YSNvMy1vcjRfLWdgLS1kMTZzcw%3D%3D&btag=e00088000&expire=1714453211&l=20240430035924A7549F5E9BD06A263F73&ply_type=3&policy=3&signature=81b076cf72f167f0b3fd0a3174a6e598&tk=0","title":"original
        sound - Airin I. Stanyawati H."},"officalItem":false,"originalItem":false,"playlistId":"7216839695349697286","poi":{"address":"Jalan
        Metro Duta Kav. UE, Pd. Pinang, Kec. Kby. Lama, Daerah Khusus Ibukota Jakarta
        12310, Indonesia","city":"Jakarta","cityCode":"1642907","country":"","countryCode":"1643084","fatherPoiName":"Jakarta","id":"21568226255522096","name":"RS
        Pondok Indah - Pondok Indah","province":"","ttTypeCode":"09a3a0","ttTypeNameMedium":"Hospital","ttTypeNameSuper":"Health","ttTypeNameTiny":"Other
        Hospital","typeCode":""},"privateItem":false,"secret":false,"shareEnabled":true,"stats":{"collectCount":3575,"commentCount":234,"diggCount":55900,"playCount":1300000,"shareCount":283},"statsV2":{"collectCount":"3575","commentCount":"234","diggCount":"55900","playCount":"1300000","repostCount":"0","shareCount":"283"},"stitchDisplay":0,"textExtra":[{"awemeId":"","end":26,"hashtagName":"","isCommerce":false,"secUid":"MS4wLjABAAAARF_8nA3g0A8VC5xhSr_tbxQ959uhQgPVrpWPcNg8aPIqhqrfZAl46M9XBRbqWMJ2","start":12,"subType":2,"type":0,"userId":"6845928434243372033","userUniqueId":"rizkanperdana"},{"awemeId":"","end":150,"hashtagName":"bedahplastik","isCommerce":false,"start":137,"subType":0,"type":1},{"awemeId":"","end":157,"hashtagName":"oplas","isCommerce":false,"start":151,"subType":0,"type":1},{"awemeId":"","end":171,"hashtagName":"bibirsumbing","isCommerce":false,"start":158,"subType":0,"type":1},{"awemeId":"","end":176,"hashtagName":"cbl","isCommerce":false,"start":172,"subType":0,"type":1},{"awemeId":"","end":188,"hashtagName":"celahbibir","isCommerce":false,"start":177,"subType":0,"type":1},{"awemeId":"","end":198,"hashtagName":"cleftlip","isCommerce":false,"start":189,"subType":0,"type":1}],"video":{"bitrate":618585,"bitrateInfo":[{"Bitrate":712529,"CodecType":"h265_hvc1","GearName":"adapt_lower_720_1","PlayAddr":{"DataSize":4016883,"FileCs":"c:0-38718-a0dc","FileHash":"f80f1f32ebb41d003aaaa0e800c14c80","Uri":"v09044g40000cgjevdbc77u491tnl8og","UrlKey":"v09044g40000cgjevdbc77u491tnl8og_bytevc1_720p_712529","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0068/ogJExtum6QgRz5DUQtEhAaBJ8BJfIGdHkofS1I/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1390&bt=695&cs=2&ds=3&ft=4fUEKMvt8Zmo0CFf_-4jV-CHupWrKsd.&mime_type=video_mp4&qs=14&rc=OWk0NDY8Nzs5Mzw5NTNmOkBpajtxNDc6ZmdoajMzNzczM0AtMmJjNmIzXi4xMDY1MmAtYSNsaXE2cjRfc2dgLS1kMTZzcw%3D%3D&btag=e00088000&expire=1714471211&l=20240430035924A7549F5E9BD06A263F73&ply_type=2&policy=2&signature=a045e946066edf667bb20976211b4c94&tk=tt_chain_token","https://v19-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-pve-0068/ogJExtum6QgRz5DUQtEhAaBJ8BJfIGdHkofS1I/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1390&bt=695&cs=2&ds=3&ft=4fUEKMvt8Zmo0CFf_-4jV-CHupWrKsd.&mime_type=video_mp4&qs=14&rc=OWk0NDY8Nzs5Mzw5NTNmOkBpajtxNDc6ZmdoajMzNzczM0AtMmJjNmIzXi4xMDY1MmAtYSNsaXE2cjRfc2dgLS1kMTZzcw%3D%3D&btag=e00088000&expire=1714471211&l=20240430035924A7549F5E9BD06A263F73&ply_type=2&policy=2&signature=a045e946066edf667bb20976211b4c94&tk=tt_chain_token"]},"QualityType":14},{"Bitrate":618585,"CodecType":"h264","GearName":"normal_540_0","PlayAddr":{"DataSize":3487278,"FileCs":"c:0-38552-8efe","FileHash":"d91e58b2f90b7e06715a44af71bca654","Uri":"v09044g40000cgjevdbc77u491tnl8og","UrlKey":"v09044g40000cgjevdbc77u491tnl8og_h264_540p_618585","UrlList":["https://v16-webapp-prime.tiktok.com/video/tos/useast2a/tos-useast2a-ve-0068c003/ogDaQtoHzB0kfUtEamh8ulICJBJUSx6QEBR3fA/?a=1988&bti=ODszNWYuMDE6&ch=0&cr=3&dr=0&lr=unwatermarked&cd=0%7C0%7C0%7C&cv=1&br=1208&bt=604&cs=0[...]
