<tr id="<%= dom_id management %>">
  <td>
    <%= link_to management.id, management %>
  </td>

  <td>
    <%= link_to management.name, management %>
  </td>

  <td>
    <%= management.phone %>
  </td>
</tr>
